$primary: #F3AE42;
$danger: #FF4444;
$success: #02e813;
$paid: #AEEFAE;
$pending: #ead083;
$overdue: #ffabab;
$green: #006800;
$red: #8a0000;
$orange: #b67c0d;

$custom-colors: (
  "paid": $paid,
  "pending": $pending,
  "overdue": $overdue,
  "green": $green,
  "red": $red,
  "orange": $orange,
);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";


@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/utilities/api";

@import "./notificacao";
@import "./pushNotification";

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

@mixin input {
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  background-color: white;
}

input.input {
  @include input;
  padding: 16px;
}

div.input {
  @include input;
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;

  input {
    border: none;
    flex-grow: 1;
    margin-right: 2px;
    padding: 16px;
    border-radius: 4px;
  }

  .icon {
    flex-shrink: 0;
  }
}

.error-message {
  height: 20px;
  font-size: 12px;
}