.push-notification {
  position: fixed;
  top: -200px;
  transition: top 1s ease-in-out;
  z-index: 1000;
  min-width: 300px;
  max-width: 100%;
  min-height: 60px;

  &.visivel {
    top: 10px;
  }
}